#intro #jumdotrom{
    height: 70vh;

}
.js {
    color: blueviolet;
}

h1,h2,h3 {
    font-family: 'Rubik Marker Hatch', cursive;
}h4,h5,h6 {
    font-family: 'Noto Sans JP', sans-serif;
}

#intro .btn {
    background-color: brown;
    color: azure;
    padding: 10px 26px ;
    border-radius: 20px;
}

#navBar #logo{
    width: 50px;
    height: 50px;
}
#intro .container{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
header li {
    margin: 0 10px;
}

#content .icon{
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

#content #content_text{
    padding: 80px 0px;
}